@model Prototype_PMS.Models.StrategicObjective
@{
    var StrategicObjectiveValue = ViewBag.StrategicObjective;
    int startYear = Model.SOEPlan.StartYear.Value;
    int endYear = Model.SOEPlan.EndYear.Value;

    int yearDifference = endYear - startYear; // คำนวณระยะห่างระหว่างปี

}
<p>
    วัตถุประสงค์เชิงยุทธศาสตร์ (Strategic Objectives)
    <strong>
        @Html.DisplayFor(m => m.StrategicObjective1)
    </strong>
</p>

@using (Html.BeginForm("Target", "SOEPlanIndicators", FormMethod.Post, new { role = "form", id = "myform", name = "myform" }))
{
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.isDelete)
    @Html.HiddenFor(m => m.isLastDelete)
    @Html.HiddenFor(m => m.CreateDate)
    @Html.HiddenFor(m => m.UpdateDate)
    @Html.HiddenFor(m => m.No)
    @Html.HiddenFor(m => m.StrategicObjective1)

    <fieldset>
        <legend>ตัวชี้วัดสำคัญ</legend>

        @foreach (var goal in Model.Goals)
        {
            <table class="table table-striped">
                <thead>
                    <tr class="bg-primary bg-opacity-50">
                        <th scope="col">@Html.DisplayFor(m => goal.Goal1)</th>
                    </tr>
                </thead>
                <tbody class="table text-center" style="max-width:1500px;">
                    <tr>
                        <td>
                            <table class="table table-primary" style="max-width:1500px;">
                                @if (Model.isDelete != null)
                                {
                                    @Html.HiddenFor(m => m.ID)
                                    @Html.HiddenFor(m => m.isLastDelete)
                                    @Html.HiddenFor(m => m.isDelete)
                                    @Html.HiddenFor(m => m.CreateBy)
                                    @Html.HiddenFor(m => m.Updateby)
                                    @Html.HiddenFor(m => m.CreateDate)
                                    @Html.HiddenFor(m => m.UpdateDate)
                                    @Html.HiddenFor(m => m.SOEPlanID)

                                    <tr>
                                        <th rowspan="2">
                                            @Html.DisplayName("ตัวชี้วัด")
                                        </th>
                                        <th rowspan="2">
                                            @Html.DisplayName("หน่วยวัด")
                                        </th>
                                        <th colspan="5">
                                            @Html.DisplayName("ค่าเป้า/เกณฑ์วัด")
                                        </th>

                                    </tr>
                                    <tr>
                                        @for (int i = startYear; i <= endYear; i++)
                                        {
                                            <th class="text-center">@Html.DisplayFor(m => i)</th>
                                        }
                                        @*ระยะห่างระหว่างปีคือ: @yearDifference ปี*@
                                    </tr>

                                    var a = goal.SOEPlanIndicators.Where(s => s.GoalID == goal.ID).ToList();

                                    foreach (var n in goal.SOEPlanIndicators)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(m => n.Indicator.Indicator1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => n.IndicatorUnit.Unit)
                                            </td>
                                            @foreach (var s in n.Indicator.ImportantIndicatorTargetMeasuerments)
                                            {
                                                foreach (var subTarget in s.SubTarget)
                                                {
                                                    <td>
                                                        @Html.DisplayFor(m => subTarget)
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }

                                }

                            </table>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </fieldset>

}

<script>
    // Your script code here
</script>
