@model IEnumerable<Prototype_PMS.Models.Indicator>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayName("วันที่ปรับปรุง")</th>
            <th scope="col">@Html.DisplayName("วัตถุประสงค์เชิงยุทธศาสตร์ (Strategic Objective)")</th>
            <th scope="col">@Html.DisplayName("จัดการ")</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UpdateDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Indicator1)</td>
                    <td>
                        <div class="btn-group" role="group">
                            @Html.ActionLink("กู้คืน", "Revert", "Indicators", new { id = item.ID }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("ลบถาวร", "DeleteLast", "Indicators", new { id = item.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete?');" })
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No deleted items available.</td>
            </tr>
        }
    </tbody>
</table>
